body {
  margin: 0;
  background-color: #1e1e1e;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  padding: 60px;
}

input {
  font-size: 1.2rem;
  width: 100%;
  padding: 5px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

.card {
  box-sizing: content-box;
  border: solid 2px grey;
  border-radius: 10px;
  overflow: hidden;
}